@using X.PagedList.Mvc.Core;
@using TheCoffeeSpace_WebApplication_MVC_.Models;
@model X.PagedList.IPagedList<TbChiTietHdb>

@{
    ViewData["Title"] = "ChiTietBan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Chi Tiết Hóa Đơn Bán</h1>
@*
<table class="table">
    <thead>
        <tr>
            <th>
                Mã Hóa Đơn Bán
            </th>
            <th>
                Mã Kích Thước
            </th>
            <th>
                Mã sản Phẩm
            </th>
            <th>
                Số Lượng
            </th>
            <th>
                Giarm Gía
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHoaDonBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKichThuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamGia)
            </td>
            
            
        </tr>
}
    </tbody>
</table>
<br />
@Html.PagedListPager(Model,page => Url.Action("ChiTietBan", new {page=page}), new
X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"},
    PageClasses = new List<String> {"page-link"}
})
*@

</br>
<div class="form-group">
    <div class="input-group col-xs-12">
        <input type="text" id="timkiem" class="form-control" id="exampleInputEmail3" placeholder="Nhập mã hóa đơn bán cần tìm kiếm">
        <span class="input-group-append">
            <button class="file-upload-browse btn btn-gradient-primary" type="button" onclick="timCTBan()">Tìm kiếm</button>
        </span>
    </div>
</div>
<br />

<script>
    function showChiTietBanByCategory(getUrl) {
        var str = '';
        $.ajax({
            type: "GET",
            url: getUrl,
            dataType: "json",
            success: function (data) {
            }
        }
</script>
<table id="display-search" class="table">
</table>

<div class="pagination"></div>

@section Scripts
    {
    <script>
            var pageLimited = 8;

        $(document).ready(function () {
            try {
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7086/coffee/chitietban",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);

                        var i = 0;
                        var content = '<tr class="table-warning"> <th> Mã Hóa Đơn Bán </th>' +
                            '<th> Số Lượng </th> <th> Gỉam Gía</th> <th> Mã Sản Phẩm</th> <th> Mã Kích Thước</th>  </tr>';
                        $.each(result, function (key, val) {
                            content += '<tr >' +
                                "<td>" + val["maHoaDonBan"] + "</td>" +
                                "<td>" + val["soLuong"] + "</td>" +
                                "<td>" + val["giamGia"] + "</td>" +
                                "<td>" + val["maSanPham"] + "</td>" +
                                "<td>" + val["maKichThuoc"] + "</td>" +

                                '</tr>'

                        });
                        $("#display-search").html(content);
                    },
                    error: function (req, status, error) {
                        $("#display-search").html('<h3>Không thể kết nối đến Server</h3>');
                    },



                });
            }
            catch (err) {
                $("#display-search").html('<h3>Có lỗi xảy ra trong quá trình request!</h3>')
            }
        });

        function timCTBan() {
            try {
                var maHoaDonBan = $("#timkiem").val();
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7086/coffee/chitietban",
                    dataType: "json",
                    success: function (result) {
                        var content = '<tr class="table-warning"> <th> Mã Hóa Đơn Bán </th>' +
                            '<th> Số Lượng </th> <th> Gỉam Gía</th> <th> Mã Sản Phẩm</th> <th> Mã Kích Thước</th>  </tr>';
                        $.each(result, function (key, val) {
                            if (maHoaDonBan == val["maHoaDonBan"] || maHoaDonBan == "") {
                                content += '<tr >' +
                                    "<td>" + val["maHoaDonBan"] + "</td>" +
                                    "<td>" + val["soLuong"] + "</td>" +
                                    "<td>" + val["giamGia"] + "</td>" +
                                    "<td>" + val["maSanPham"] + "</td>" +
                                    "<td>" + val["maKichThuoc"] + "</td>" +

                                    '</tr>'
                            }

                        });
                        $("#display-search").html(content);
                    },
                    error: function (req, status, error) {
                        $("#display-search").html('<h3>Không thể kết nối đến Server</h3>');
                    },

                });
            } catch (err) {
                $("#display-search").html('<h3>Có lỗi xảy ra trong quá trình request!</h3>');
                console.log(err);
            }
        }
    </script>
}