@using X.PagedList.Mvc.Core;
@using TheCoffeeSpace_WebApplication_MVC_.Models;
@model X.PagedList.IPagedList<TbCuaHang>
@{
    ViewData["Title"] = "DanhMucCuaHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Danh Mục Cửa Hàng</h1>
</br>

@using (Html.BeginForm("TimCuaHang", "admin", FormMethod.Get))
{
        <form class=" d-none d-md-block m-2 p-2">
        @Html.TextBox("tenCuaHang", null, new { @class = "w-75 form-control-sm bg-light border-0" })
        <button type="submit" class="file-upload-browse btn btn-gradient-primary">Tìm Kiếm</button>
        </form>
}

</br>
<p>
    <a asp-action="ThemCuaHangMoi">Thêm Cửa Hàng</a>
</p>
<p>@TempData["Message"]</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Tên Cửa Hàng
            </th>
            <th>
                Địa Chỉ
            </th>
            <th>
                Số Điện Thoại
            </th>
            <th>
                Email
            </th>
            <th>
                Fanpage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenCuaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fanpage)
            </td>
            <td>
                <a asp-action="SuaCuaHang" asp-route-maCuaHang="@item.MaCuaHang">Sửa</a> |
                <a asp-action="XoaCuaHang" asp-route-maCuaHang="@item.MaCuaHang">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
@Html.PagedListPager(Model,page => Url.Action("DanhMucCuaHang", new {page=page}), new
X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"},
    PageClasses = new List<String> {"page-link"}
})


@*
<div class="form-group">
    <div class="input-group col-xs-12">
        <input type="text" id="timkiem" class="form-control" id="exampleInputEmail3" placeholder="Nhập mã cửa hàng cần tìm kiếm">
        <span class="input-group-append">
            <button class="file-upload-browse btn btn-gradient-primary" type="button" onclick="timCuaHang()">Tìm kiếm</button>
        </span>
    </div>
</div>
<br />

<script>
    function showCuaHangByCategory(getUrl) {
        var str = '';
        $.ajax({
            type: "GET",
            url: getUrl,
            dataType: "json",
            success: function (data) {
            }
        }
</script>
<table id="display-search" class="table">
</table>

<div class="pagination"></div>

@section Scripts
    {
    <script>
            var pageLimited = 8;

        $(document).ready(function () {
            try {
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7086/coffee/cuahang",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);

                        var i = 0;
                        var content = '<tr class="table-warning"> <th> Mã Cửa Hàng </th>' +
                            '<th> Tên Cửa Hàng </th> <th> Địa Chỉ </th> <th>Số Điện Thoại</th> <th> Email </th> </tr>';
                        $.each(result, function (key, val) {
                            content += '<tr >' +
                                "<td>" + val["maCuaHang"] + "</td>" +
                                "<td>" + val["tenCuaHang"] + "</td>" +
                                "<td>" + val["diaChi"] + "</td>" +
                                "<td>" + val["soDienThoai"] + "</td>" + 
                                "<td>" + val["email"] + "</td>" + '</tr>'

                        });
                        $("#display-search").html(content);
                    },
                    error: function (req, status, error) {
                        $("#display-search").html('<h3>Không thể kết nối đến Server</h3>');
                    },



                });
            }
            catch (err) {
                $("#display-search").html('<h3>Có lỗi xảy ra trong quá trình request!</h3>')
            }
        });

        function timCuaHang() {
            try {
                var maCuaHang = $("#timkiem").val();
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7086/coffee/cuahang",
                    dataType: "json",
                    success: function (result) {
                        var content = '<tr class="table-warning"> <th> Mã Cửa Hàng </th>' +
                            '<th> Tên Cửa Hàng </th> <th> Địa Chỉ </th> <th>Số Điện Thoại</th> <th> Email </th> </tr>';
                        $.each(result, function (key, val) {
                            if (maCuaHang == val["maCuaHang"] || maCuaHang == "") {
                                content += '<tr >' +
                                    "<td>" + val["maCuaHang"] + "</td>" +
                                    "<td>" + val["tenCuaHang"] + "</td>" +
                                    "<td>" + val["diaChi"] + "</td>" +
                                    "<td>" + val["soDienThoai"] + "</td>" + 
                                    "<td>" + val["email"] + "</td>" + '</tr>'
                            }

                        });
                        $("#display-search").html(content);
                    },
                    error: function (req, status, error) {
                        $("#display-search").html('<h3>Không thể kết nối đến Server</h3>');
                    },

                });
            } catch (err) {
                $("#display-search").html('<h3>Có lỗi xảy ra trong quá trình request!</h3>');
                console.log(err);
            }
        }
    </script>
}*@
@section Scripts
    {}